body{
    background: black;
    color: white;
    font-size:30px;
    margin-left: 20%;
    margin-top: 9%;
    font-weight:800;
}
.h span{
    color: red;
}
button{
    margin-top: 10px;
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
a{
    text-decoration: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
p{
    font-size: 20px;
}
a:hover{
    letter-spacing: 0.25rem;
 }