.photo{
    width: 700px;
    height: 500px;
    aspect-ratio: 1/0.7;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}
.photo .image{
    width: 700px;
    height: 500px;
    border-radius: inherit;
}

.photo .image img{
    width: 700px;
    height: 500px;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}
.photo::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid #ffffff;
    border-radius: inherit;
    border-radius: inherit;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.photo:hover .image img{
    transform: scale(1.1);
}
.photo:hover::after{
    opacity: 1;
    inset: 20px;
}
.content{
    color: #fff;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}
.content p{
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}